body {
    background-color: #008371;
    color: #fff;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f88604dc;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

input {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #daa556;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #d38724;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

li:hover {
    background-color: #e2a344;
}   

li span {
    flex: 1;
    text-align: left;
}

.deleteButton {
    margin-left: 5px;
}